body{
    font-family: Arial, Helvetica;
    margin:0%;
    font-size: 1rem;
    width: 100%;    
    height: 100%;
}
h2 {
    text-align: center;
}
.settings{
    z-index: 10;
    position: fixed;
    top:10px;
    left:10px;
}

#map {
    position: fixed;
    top:0px;
    right:0px;
    height: 100vh; 
    width: 100vw;
}

button.icon {
    display: block;
    z-index: 10;
    color: black;
    position: fixed;
    float:right;
    left:8px;
    top:8px;
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}

button.icon:hover {background-color: #848482;color: #FFFFFFFF}

#sidebar {
    animation-timing-function: linear;
    left: -50%;
    z-index: 8;
    position: fixed;
    display: block;
    width: 50%;
    height: 100%;
    background-color: rgba(169, 167, 167, 0.8);
    
}
#sidebar ul {
    position: relative;
    top:40%;
    margin-left: 10px;
    margin-right: 10px;
}
#sidebar li:hover {
    border: 3px solid rgba(169, 167, 167, 0.9);
    border-radius: 10px;
}

#sidebar li{
    text-align: center;
    border: 3px solid rgba(169, 167, 167, 0);
    border-radius: 10px;
    font-size: x-large;
    list-style: none;
    padding: 10px;
}

@keyframes sidebar{
    from {left:-50%}
    to {left:0%}
}

@keyframes sidebar_down{
    from {left:0%}
    to {left:-50%}
}

button.reportIcon {
    font-weight: bold;
    font-size: xx-large;
    display: block;
    z-index: 5;
    color: black;
    position: fixed;
    bottom:2%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 40px;
}
button.reportIcon:hover {
    background-color: #848482;
    color: white    ;
}

@keyframes hintbar_down{
    from {bottom:0%}
    to {bottom:-40%}
}

@keyframes hintbar_up{
    from {bottom:-40%}
    to {bottom:0%}
}

#hintBar {
    animation-timing-function: linear;
    bottom: -40%;
    right:0%;
    text-align: center;
    z-index: 8;
    position: fixed;
    display: block;
    width: 100%;
    height:40%;
    border-radius: 30px;
    background-color: rgba(169, 167, 167, 0.8);
}

#hintBar h2 {
    margin-top: 10%;
}

button.myPosition{
    display: block;
    z-index: 10;
    color: black;
    position: fixed;
    float:right;
    right:8px;
    top:8px;
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}

button.myPosition:hover{
    background-color: #848482;color: #FFFFFFFF;
}
button.SearchIcon{
    display: block;
    z-index: 10;
    color: black;
    position: fixed;
    right:60px;
    top:8px;
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}
button.SearchIcon:hover{
    background-color: #848482;color: #FFFFFFFF;
}

#searchBar{
    display:block;
    width: 0%;
    position: fixed;
    z-index: 9;
    right:62px;
    top:8px;
    width: fit-content;
}
#searchBar form {
    margin:0px;
}
#searchBar input[type=text]{
    width: 0ch;
    max-width: 40ch;
    height: 30px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 30px;
}

@keyframes search_out{
    from {width:0ch}
    to {width:40ch}
}
@keyframes search_in{
    from {width:40ch}
    to {width:0ch}
}