
h2 {
    text-align: center;
}

form{
    text-align: center;
}
table {
    overflow: hidden;
    transition: height 2s ease-in;
}

nav > h3 > a {padding: 10px;color: #043179 ;text-decoration: none;border:none;border-radius: 5px;}
nav > h3 > a:hover {background-color: #04317973;color: #FFFFFFFF}

.headline{
    padding: 16px;
    text-align: center;
}

.back-but{
    float: left;
    height: 33px;
}
.back-arr{
    position: relative;
    top: 16px;
}

body{
    font-family: sans-serif, Arial, Helvetica;
    margin:0%;
    font-size: 1rem;
    min-width: 800px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
}


.admin-table{
    
    min-width: 350px;
    width:100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 0.9em;
    transition: height 2s ease-in;
    margin: 0px;
    border-radius: 20px;



    display: block;
  empty-cells: show;
}

.admin-table thead{
    background-color: #f1f1f1;  
    position:relative;
    display: block;
    width:100%;
}
.admin-table tbody{
    display: block; position:relative;
    width:100%; overflow-y:scroll;
    max-height: 75vh;
  }
  .admin-table tr{
    width: 100%;
    display:flex;
  }
  .admin-table td,.admin-table th{
    text-align: center;
    flex-basis:100%;
    flex-grow:2;
    display: block;
    padding: 1px;
    text-align:left;
  }
  .admin-table td:first-child,
  .admin-table th:first-child{
    flex-basis:20%;
    flex-grow:1;
  }
  .small-col{flex-basis:10%;}



  .del-ico{
    position: relative;
    top: 8px;
  }

.admin-table tr{
    text-align: center;
}

.admin-table td{
    border-radius: 2px;    
    text-align: center;
}

.admin-table thead tr {
    background-color: #043179;
    color: #ffffff;
    text-align: center;

}

.admin-table thead th:first-child{
    border-top-left-radius: 20px;
}.admin-table thead th:last-child{
    border-top-right-radius: 20px;
}

.admin-table th, .admin-table td{
    padding: 10px 10px;
    text-align: center;

}

.admin-table tbody tr:nth-last-child(2){
    border-bottom-left-radius: 20px;

}

.admin-table .even-row {
    background-color: #f2f2f2;
}

.rem-usr-but:hover{
    color: #ff0000;
}

.show-tab-but{
    padding: 10px;
    border-radius: 10px;
}

.show-tab-but:hover{
    background-color: #1f2eb115;
}



.role-select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    margin: none;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

option{
    background-color: #fafafa;
}

.admin-table .role-td{
    padding: 0px;
}


.order-but-div{
    position: relative;
    top: 5px;
    padding: 5px;
    float: inline-end;
}

.col-name{
    float: inline-start;
}

.arrow-hidden{
    color: #326fd1;
}.arrow-visible{
    color: #ffffff;
}