
h2 {
    text-align: center;
}

form{
    text-align: center;
}
table {
    overflow: hidden;
    transition: height 2s ease-in;
}

nav > h3 > div {padding: 10px;color: #043179 ;text-decoration: none;border:none;border-radius: 5px;}
.ico-hover:hover {background-color: #04317973;color: #FFFFFFFF}


.filter{
    float: right;
    height: 40px;
}
.filter-input{
    height: 25px;
    border-radius: 5px;
    background-color: #0a68ff34;
}
.filter-ico{
    position: relative;
    top: 2px;
    border-radius: 5px;
    padding: 5px;
}

.headline{
    color: #043179 ;
    padding: 16px;
    text-align: center;
    margin-top: 10px;
}

.menu-div{
    height: 0;
    padding: 0;
}

.sett-but{
    padding: 10px;
    border-radius: 5px;
    position: relative;
    float: left;
    height: 33px;
}
.ico{
    position: relative;
    top: 16px;
}
.dropdown-content {
    font-size: large;
    position: absolute;
    top: 63px;
    border-radius: 5px;
    background-color: #f6f9ff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content div,a {
    color: #043179;
    border-radius: 5px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content div:hover ,a:hover{background-color: #ddd;}
.content-hidden{
    display: none;
}





body{
    font-family: sans-serif, Arial, Helvetica;
    margin:0%;
    font-size: 1rem;
    min-width: 800px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
}


.admin-table{
    
    min-width: 350px;
    width:100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 0.9em;
    transition: height 2s ease-in;
    margin: 0px;
    border-radius: 20px;



    display: block;
  empty-cells: show;
}

.admin-table thead{
    background-color: #f1f1f1;  
    position:relative;
    display: block;
    width:100%;
}
.admin-table tbody{
    display: block; position:relative;
    width:100%; overflow-y:scroll;
    max-height: 75vh;
  }
  .admin-table tr{
    width: 100%;
    display:flex;
  }
  .admin-table td,.admin-table th{
    text-align: center;
    flex-basis:100%;
    flex-grow:2;
    display: block;
    padding: 1px;
    text-align:left;
  }
  .admin-table td:first-child,
  .admin-table th:first-child{
    flex-basis:20%;
    flex-grow:1;
  }
  .small-col{flex-basis:10%;}



  .del-ico{
    position: relative;
    top: 8px;
  }

.admin-table tr{
    text-align: center;
}

.admin-table td{
    border-radius: 2px;    
    text-align: center;
}

.admin-table thead tr {
    background-color: #043179;
    color: #ffffff;
    text-align: center;

}

.admin-table thead th:first-child{
    border-top-left-radius: 20px;
}.admin-table thead th:last-child{
    border-top-right-radius: 20px;
}

.admin-table th, .admin-table td{
    padding: 10px 10px;
    text-align: center;

}

.admin-table tbody tr:nth-last-child(2){
    border-bottom-left-radius: 20px;

}



.row{background-color: #ffffff;}
.even-row{background-color: #f2f2f2;}

.admin-row{background-color: #dbe9ff;}
.even-admin-row{background-color: #ccd8ee;}

.manager-row{background-color: #fbffdb;}
.even-manager-row{background-color: #e8ecca;}

.worker-row{background-color: #f3dffc;}
.even-worker-row{background-color: #e1cceb;}





.rem-usr-but:hover{
    color: #ff0000;
}


.role-filter{
    float: left;
    height: 40px;
}

.role-select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    margin: none;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

option{
    background-color: #fafafa;
}

.admin-table .role-td{
    padding: 0px;
}


.order-but-div{
    position: relative;
    top: 5px;
    padding: 5px;
    float: inline-end;
}

.order-div:hover{
    color: #8cb8ff;
}

.col-name{
    float: inline-start;
}

.arrow-hidden{
    color: #326fd1;
}.arrow-visible{
    color: #ffffff;
}